body {
    font-family: Helvetica;
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  .sidebar a:hover:not(.active) {
    background-color: rgb(107, 107, 253);
    color: white;
  }
  .main {
    margin: 200px;
    padding: 0;
    background-color: #ddb1b1;
    position: fixed;
    height: 100%;
    overflow: auto;
    
  }